body {
  font-size: 1.8rem;
}
.ps-content .row {
  flex-direction: column;
}
.ps-sidebar, .ps-content {
  max-width: 100%;
}
.ps-content > article {
  padding-left: 0;
}
#toc .collapse {
  display: block;
}
#toc .collapse.show {
  display: none;
}
#toc .collapsing {
  transition: initial;
}
.active > .ps-sidenav {
  display: none;
}
