body {
  font-size: 1.8rem;
}
.ps-content .row {
  flex-direction: column;
}
.ps-sidebar,
.ps-content,
.description,
.home-sidebar {
  max-width: 100%;
}
#banner h2 {
  max-width: 640px;
  margin: auto;
}
.ps-content > article {
  padding-left: 0;
}
#toc .collapse {
  display: block;
}
#toc .collapse.show {
  display: none;
}
#toc .collapsing {
  transition: initial;
}
.active > .ps-sidenav {
  display: none;
}
