/* colors

  --main-color: #0B3C5D;
  --main-shade: #1D2731;
  --main-light: #328CC1;
  --accent-color: #D9B310;
*/
:root {
  --main-color: #0B3C5D;
  --main-shade: #1D2731;
  --main-light: #328CC1;
  --accent-color: #D9B310;
}
/* common */
.ps-header, .ps-mainnav {
  border-bottom: 1px solid rgb(221,221,221);
}
/* ps-login */
.ps-login {
  background: var(--main-color);
  margin: auto;
}
/* ps-mainnav */
.ps-mainnav {
  margin-bottom: 3rem;
}
#mainNav form button {
  border-color: var(--main-color);
  color: var(--main-color);
}
#mainNav form button:hover {
  color: #fff;
  background-color: var(--main-color);
}
/* ps-sidebar */
.ps-sidebar {
  margin-bottom: 2rem;
}
/* ps-links */
/* ps-toc-item */
.ps-toc-item > a {
  padding-left: 0.25rem;
  color: var(--main-color);
}
.ps-toc-item > a:hover {
  background-color: var(--main-light);
  color: #fff;
  text-decoration: none;
}
.ps-toc-item.active > a {
  background-color: var(--accent-color);
  color: var(--main-shade);
  //background-color: var(--main-color);
  //color: #fff;
}
/* ps-toc-title */
.ps-toc-title {
  text-transform: uppercase;
  display: block;
  padding: 0.5rem 0;
  border-bottom: 3px solid var(--accent-color);
}
/* ps-toc-link */
.ps-toc-link {
  display: block;
  padding: 0.5rem 0;
  border-bottom: 1px solid #eee;
}
/* ps-sidenav */
.ps-sidenav {
  display: none;
}
.ps-sidenav a {
  display: block;
  color: var(--main-light);
  padding: 0.5rem 0 0.5rem 1rem;
  border-bottom: 1px solid #eee;
}
.active > .ps-sidenav {
  display: block;
}
/* ps-content */
.ps-content {
  margin-bottom: 2rem;
}
.ps-content > article {
  padding-left: 1.5rem;
}
.ps-content > article h2 {
  margin-bottom: 1em;
}
.ps-content section h3 {
  margin-top: 1.275em;
  margin-bottom: .85em;
  border-bottom: 1px solid var(--accent-color);
}
.ps-content section {
  line-height: 1.7;
}
.ps-exercise {
  border: 1px solid #eee;
  border-left: 0.25rem solid var(--accent-color);
  border-radius: 0.25rem;
  padding: 0 1.25rem;
}
/* ps-footer */
.ps-footer {
  background: var(--main-color);
  color: rgba(255, 255, 255, .6);
  border-bottom: 2.5rem solid var(--main-shade);
  font-size: .75rem;
}
.ps-footer a {
  color: var(--accent-color);
}
.ps-footer .row {
  padding: 2.5rem 0;
}
.ps-footer h4 {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.ps-associated a {
  padding-bottom: 0.25rem;
}
/* code */
#preview {
  padding: 1rem;
}
#preview pre {
  padding: 0.5rem;
  border: 1px solid #eee;
  border-radius: 5px;
  background: #fafafa;
}
.ps-code-doctype {
  color: #586e75;
}
.ps-code-title {
  color: #268bd2;
}
.ps-code-attribute {
  color: #b58900;
}
.ps-code-value {
  color: #2aa198;
}

/* resources content only | arur: dublicated to css/proto-site.css */
/* .ps-book */
.ps-book {
  margin-bottom: 1.25rem;
}
.ps-book p {
  margin-bottom: 0.5rem;
}
.ps-book img{
  width: 125px;
  float: left;
  margin-right: 1rem;
}

/* media-queries */
@media (max-width: 767px) {
  #toc .ps-toc-title {
    border-bottom-width: 4px;
  }
  /*
  .ps-content .row {
    flex-direction: column;
  }
  .ps-sidebar, .ps-content {
    max-width: 100%;
  }
  .ps-content > article {
    padding-left: 0;
  }
  #toc .collapse {
    display: block;
  }
  #toc .collapse.show {
    display: none;
  }
  #toc .collapsing {
    transition: initial;
  }
  */
  .ps-content > article {
    padding-left: 0;
  }
}


/* quizzes content only*/
.ps-answer-box {
  width: 760px;
}

.ps-marks {
  color: gray;
  font-style: italic;
}

#ps-submit {
  float: right;
}

.ps-button-spacing {
  margin-right: 10px;
}

/* proto-home content only */

#banner{
  background-image: url(../img/comp1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 7rem 0;
  //height: 325px;
  //position: relative;
}

#banner h2{
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  //margin-left: auto;
  //margin-right: auto;
  display: inline-block;
  //position: absolute;
  //top: 50%;
  //left: 50%;
  //margin: -47px 0 0 -300px;
  padding: 0.5rem;
  font-size: 2.5rem;
}

#cta{
  background-color: #0b3c5d;
  height: 100px;
  border-top: 7px solid #d9b310;
}

#cta h3{
  color: white;
  text-align: center;
  padding-top: 30px;
  font-size: 30px;
  font-family: helvetica, arial, sans-serif;
}

.home-sidebar{
  margin-top: 30px;
  background-color: #e5e5e5;
  padding: 12px;
  border-left: 3px solid #0b3c5d;
}

.description{
  margin-top: 30px;
  background-color: #e5e5e5;
  padding: 12px;
  border-left: 3px solid #0b3c5d;
}
h5{
  color: #0b3c5d;
}
/* media print */
@media print {
  body {
    font: 12pt/1.6 "Times New Roman", Serif;
  }
  body, #banner, #cta {
    background: none;
  }
  h3, h4 {
    page-break-after: avoid;
  }
  a:link:after, 
  a:visited:after{
    content: " (URL: " attr(href) ") ";
    font-size: 90%;
  }
  #banner {
    padding: 0;
  }
  #cta h3 {
    color: #000;
  }

}
